<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Click&Buy - Enhanced</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />
    
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-cart-shopping"></i> Click&Buy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Главня</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Категории</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Выход</a>
            </li>
            <li class="nav-item">
              <a href="#" class="btn btn-light position-relative">
                  <i class="fa-solid fa-cart-shopping"></i>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    0
                    <span class="visually-hidden">unread messages</span>
                  </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Регистрация</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Вход</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>

    <div class="main-header mb-20">
        <div class="header-animation"></div>
        <div class="header-content">
            <h1 class="display-5 fw-bold">Добро пожаловать в Click&Buy</h1>
            <p class="lead">Ваш лучший выбор для покупок онлайн</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="#block" class="btn btn-primary btn-lg">Все товары</a>
                <a href="#" class="btn btn-primary btn-lg">Категории</a>
            </div>
        </div>
    </div>
    

    <main>
        <section id="block" class="carousel-container">
            <div class="container">
                <h2 class="section-title">Все товары</h2>
                <div class="product-carousel">
                    <div class="product-item">
                        <img src="./images/iphone_16_pro_max.webp" alt="iPhone 15">
                        <h5>iPhone 15</h5>
                        <p>Новейший смартфон с невероятной камерой.</p>
                        <div class="price">700 000 &#8376;</div>
                    </div>
                    <div class="product-item">
                        <img src="./images/Macbook_M3.webp" alt="MacBook M3">
                        <h5>MacBook M3</h5>
                        <p>Идеальный выбор для профессионалов.</p>
                        <div class="price">1 500 000 &#8376;</div>
                    </div>
                    <div class="product-item">
                        <img src="./images/Macbook_M3.webp" alt="MacBook M3">
                        <h5>MacBook M3</h5>
                        <p>Идеальный выбор для профессионалов.</p>
                        <div class="price">1 500 000 &#8376;</div>
                    </div>
                    <div class="product-item">
                        <img src="./images/Macbook_M3.webp" alt="MacBook M3">
                        <h5>MacBook M3</h5>
                        <p>Идеальный выбор для профессионалов.</p>
                        <div class="price">1 500 000 &#8376;</div>
                    </div>
                    <div class="product-item">
                        <img src="./images/Macbook_M3.webp" alt="MacBook M3">
                        <h5>MacBook M3</h5>
                        <p>Идеальный выбор для профессионалов.</p>
                        <div class="price">1 500 000 &#8376;</div>
                    </div>
                    <div class="product-item">
                        <img src="./images/Macbook_M3.webp" alt="MacBook M3">
                        <h5>MacBook M3</h5>
                        <p>Идеальный выбор для профессионалов.</p>
                        <div class="price">1 500 000 &#8376;</div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="carousel-container">
            <div class="container">
                <div class="product-carousel">
                    <div class="product-item">
                        <img src="./images/Emporio_Armani.jpg" alt="Emporio Armani">
                        <h5>Куртка Emporio Armani</h5>
                        <p>Элегантный стиль для повседневной жизни.</p>
                        <div class="price">200 000 &#8376;</div>
                    </div>
                    <div class="product-item">
                        <img src="./images/Emporio_Armani.jpg" alt="Emporio Armani">
                        <h5>Куртка Emporio Armani</h5>
                        <p>Элегантный стиль для повседневной жизни.</p>
                        <div class="price">200 000 &#8376;</div>
                    </div>
                    <div class="product-item">
                        <img src="./images/Emporio_Armani.jpg" alt="Emporio Armani">
                        <h5>Куртка Emporio Armani</h5>
                        <p>Элегантный стиль для повседневной жизни.</p>
                        <div class="price">200 000 &#8376;</div>
                    </div>
                    <div class="product-item">
                        <img src="./images/Emporio_Armani.jpg" alt="Emporio Armani">
                        <h5>Куртка Emporio Armani</h5>
                        <p>Элегантный стиль для повседневной жизни.</p>
                        <div class="price">200 000 &#8376;</div>
                    </div>
                    <div class="product-item">
                        <img src="./images/Emporio_Armani.jpg" alt="Emporio Armani">
                        <h5>Куртка Emporio Armani</h5>
                        <p>Элегантный стиль для повседневной жизни.</p>
                        <div class="price">200 000 &#8376;</div>
                    </div>
                    <div class="product-item">
                        <img src="./images/Emporio_Armani.jpg" alt="Emporio Armani">
                        <h5>Куртка Emporio Armani</h5>
                        <p>Элегантный стиль для повседневной жизни.</p>
                        <div class="price">200 000 &#8376;</div>
                    </div>
                    <div class="product-item">
                        <img src="./images/Emporio_Armani.jpg" alt="Emporio Armani">
                        <h5>Куртка Emporio Armani</h5>
                        <p>Элегантный стиль для повседневной жизни.</p>
                        <div class="price">200 000 &#8376;</div>
                    </div>
            </div>
        </section>
        
</main>

    <footer class="py-4 bg-dark">
      <div class="container text-center">
          <p class="mb-0 text-white">&copy; 2024 Click&Buy. Все права защищены.</p>
      </div>
  </footer>
  
    <script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>